body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}

.container {
	max-width: 800px;
	margin: 40px auto;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.event {
	background-color: #f7f7f7;
	padding: 20px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}

.event h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.event p {
	margin-bottom: 20px;
}
